@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Open Sans";
  src: local("") url("/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: local("") url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: local("") url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: local("") url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}
@media (max-width: 1240px) {
  .container {
    max-width: 100%;
    padding: 0 22px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin: 24px auto;
  line-height: 60px;
  text-align: center;
}
@media (max-width: 1240px) {
  .title {
    max-width: 566px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }
}

.examples {
  margin-bottom: 215px;
}
@media (max-width: 1240px) {
  .examples {
    margin-bottom: 82px;
  }
}
@media (max-width: 767px) {
  .examples {
    margin-bottom: 70px;
  }
}
.examples__title {
  margin-bottom: 75px;
}
@media (max-width: 1240px) {
  .examples__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .examples__title {
    line-height: 35px;
    margin-bottom: 40px;
  }
}
.examples__img {
  display: grid;
  gap: 24px;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img2 img4" "img5 img6 img7 img7" "img8 img6 img7 img7";
}
@media (max-width: 1240px) {
  .examples__img {
    gap: 16px;
    grid-template-areas: "img1 img1 img1 img2 img2" "img5 img5 img3 img3 img3" "img4 img4 img4 img6 img6" "img8 img8 img7 img7 img7";
  }
}
@media (max-width: 767px) {
  .examples__img {
    gap: 10px;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img8 img7";
  }
  .examples__img > img {
    aspect-ratio: 69/64;
  }
}
.examples__img-item {
  padding: 0px 0px 90% 0px;
  position: relative;
}
.examples__img-item:nth-of-type(1) {
  grid-area: img1;
}
.examples__img-item:nth-of-type(2) {
  grid-area: img2;
}
.examples__img-item:nth-of-type(3) {
  grid-area: img3;
}
.examples__img-item:nth-of-type(4) {
  grid-area: img4;
}
.examples__img-item:nth-of-type(5) {
  grid-area: img5;
}
.examples__img-item:nth-of-type(6) {
  grid-area: img6;
}
.examples__img-item:nth-of-type(7) {
  grid-area: img7;
}
.examples__img-item:nth-of-type(8) {
  grid-area: img8;
}
.examples__img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.characteristics {
  margin-bottom: 220px;
}
@media (max-width: 1240px) {
  .characteristics {
    margin-bottom: 42px;
  }
}
@media (max-width: 767px) {
  .characteristics {
    margin-bottom: 0;
  }
}
.characteristics__title {
  margin-bottom: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 1240px) {
  .characteristics__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .characteristics__title {
    margin-bottom: 45px;
  }
}
.characteristics__block {
  max-width: 1145px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1240px) {
  .characteristics__block {
    flex-direction: column;
    align-items: center;
  }
}
.characteristics__card {
  display: flex;
  flex-direction: column;
  width: 18%;
}
@media (max-width: 1240px) {
  .characteristics__card {
    width: 28.5%;
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .characteristics__card {
    width: 71%;
  }
}
.characteristics__icon {
  margin-bottom: 25px;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2509803922));
}
.characteristics__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.characteristics__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

.opportunities {
  background: url("/assets/phone_img_flower.png") no-repeat;
  display: none;
  background-size: cover;
}
@media (max-width: 1240px) {
  .opportunities {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 85px;
  }
}
@media (max-width: 1240px) and (max-width: 767px) {
  .opportunities {
    background-size: 155%;
    background-position: center;
    margin-bottom: 35px;
  }
}
@media (max-width: 1240px) {
  .opportunities__title {
    color: #ffffff;
    margin-bottom: 50px;
  }
}
@media (max-width: 1240px) and (max-width: 767px) {
  .opportunities__title {
    margin-bottom: 35px;
  }
}
@media (max-width: 1240px) {
  .opportunities__text {
    text-align: center;
    max-width: 648px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    margin-bottom: 50px;
  }
}
@media (max-width: 1240px) and (max-width: 767px) {
  .opportunities__text {
    font-size: 14px;
    line-height: 22px;
    max-width: 286px;
    margin-bottom: 35px;
  }
}
@media (max-width: 1240px) {
  .opportunities__arrow {
    margin-bottom: 10px;
  }
}
@media (max-width: 1240px) and (max-width: 767px) {
  .opportunities__arrow img {
    width: 24px;
  }
}

.lens {
  margin-bottom: 210px;
}
@media (max-width: 1240px) {
  .lens {
    margin-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .lens {
    margin-bottom: 70px;
  }
}
.lens__title {
  margin-bottom: 60px;
}
@media (max-width: 1240px) {
  .lens__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .lens__title {
    margin-bottom: 80px;
  }
}
.lens__search-box {
  display: none;
}
@media (max-width: 1240px) {
  .lens__search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
@media (max-width: 1240px) and (max-width: 767px) {
  .lens__search-box {
    margin-bottom: 70px;
  }
}
@media (max-width: 1240px) {
  .lens__search-box__filters {
    display: flex;
    flex-direction: row;
  }
}
.lens__block {
  display: grid;
  column-gap: 40px;
  row-gap: 45px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 62px;
}
@media (max-width: 1240px) {
  .lens__block {
    margin-bottom: 65px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .lens__block {
    row-gap: 25px;
    margin-bottom: 50px;
  }
}
.lens__card {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1240px) {
  .lens__card:nth-of-type(5) {
    display: none;
  }
  .lens__card:nth-of-type(6) {
    display: none;
  }
}
.lens__img {
  position: relative;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 767px) {
  .lens__img {
    margin-bottom: 5px;
  }
}
.lens__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.lens__sale p {
  position: absolute;
  right: 0;
  z-index: 1;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: #FF4A4A;
  color: white;
  padding: 18px 4.6px;
}
@media (max-width: 1240px) {
  .lens__sale p {
    padding: 2.3vw 0.5vw;
  }
}
@media (max-width: 767px) {
  .lens__sale p {
    font-size: 10px;
    padding: 2.5vw 0.5vw;
  }
}
.lens__name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .lens__name {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 23px;
  }
}
.lens__price {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .lens__price {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.lens__more {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.lens__more span {
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px 25px;
}
@media (max-width: 767px) {
  .lens__more span {
    font-size: 12px;
    padding: 15px 7.5px;
  }
}
.lens__more span:hover {
  background-color: #fff1d6;
}
.lens__btn {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.lens__btn span {
  display: inline-block;
  border-radius: 5px;
  background-color: black;
  padding: 22px 50px;
}
@media (max-width: 1240px) {
  .lens__btn span {
    padding: 20px 50px;
  }
}
@media (max-width: 767px) {
  .lens__btn span {
    font-size: 12px;
    padding: 25px 17px;
  }
}

.features {
  margin-bottom: 215px;
}
@media (max-width: 1240px) {
  .features {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .features {
    margin-bottom: 65px;
  }
}
.features__title {
  margin-bottom: 65px;
}
@media (max-width: 1240px) {
  .features__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .features__title {
    margin-bottom: 40px;
  }
}
.features__block {
  margin: 0 auto;
  max-width: 864px;
}
@media (max-width: 1240px) {
  .features__block {
    max-width: 710px;
  }
}
.features__name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 37px;
}
@media (max-width: 1240px) {
  .features__name {
    max-width: 617px;
  }
}
@media (max-width: 767px) {
  .features__name {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 17px;
  }
}
.features__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 65px;
  letter-spacing: 0.4px;
}
@media (max-width: 1240px) {
  .features__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .features__text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.45px;
    margin-bottom: 40px;
  }
}
.features__text-before-block {
  margin-bottom: 210px;
}
@media (max-width: 1240px) {
  .features__text-before-block {
    margin-bottom: 10px;
  }
}

.center-block {
  margin: 0 auto;
  max-width: 1086px;
  background-color: #EFF4FC;
  padding: 55px 110px 55px 110px;
  margin-bottom: 220px;
}
@media (max-width: 1240px) {
  .center-block {
    padding: 70px 29px;
    margin-bottom: 104px;
  }
}
@media (max-width: 767px) {
  .center-block {
    padding: 35px 20px;
    margin-bottom: 60px;
  }
}
.center-block__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.02em;
}
@media (max-width: 1240px) {
  .center-block__text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .center-block__text {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer {
  background-color: #000000;
  padding: 155px 0;
}
@media (max-width: 1240px) {
  .footer {
    padding: 110px 90px 110px 5px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 85px 0;
  }
}
.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  max-width: 1227px;
}
@media (max-width: 1240px) {
  .footer__nav {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    margin-bottom: -20px;
  }
}
@media (max-width: 767px) {
  .footer__column {
    margin-bottom: 45px;
  }
}
.footer__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__option {
  line-height: 38px;
  color: #ffffff;
  display: block;
}
.footer__media {
  display: flex;
  justify-content: center;
  gap: 30px;
}